h1{
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;

}
#head{
    margin-left: 40px;
}
h3{
    font-size: 24px;
    font-family: bold;
}
.name-hi{
    color: orange;
}
body{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
.about-me{
    margin-left: 10px;
    font-weight: 40%;
}
.half-me{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-me img {
    width: 100%;
}
.banner{
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}
.button{
    padding: 10px 20px;
    background-image: linear-gradient(47deg, orange, tomato ,red);
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}